/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: auto;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  background-color: var(--background-color);
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-text-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header-logo {
  margin-block-start: 136px;
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-inline-start: 20px;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
}

.theme-menu__item {
  margin: 0;
  padding: 0;
}

.theme-menu__button {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset: 100% 0 0 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: pointer 0.5s ease-in-out infinite alternate;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 700px;
  margin: auto;
}

.card {
  border: 2px solid var(--accent-color);
}

.card__title {
  border-bottom: 2px solid var(--accent-color);
  padding: 5px 10px;
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: var(--background-color);
  font-variation-settings: "wght" var(--title-font-weight);
}

.card__image-wrapper {
  position: relative;
  max-height: 696px;
}

.card__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  object-position: center;
}

.card__logo {
  position: absolute;
  inset: 25px 25px auto auto;
  z-index: 2;
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  mix-blend-mode: overlay;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__content {
  border-top: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px 25px 0 25px;
  font-size: 18px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 25px;
  background-color: var(--background-color);
}

.card__icon-button {
  width: 42px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  background-color: transparent;
}

.save__button {
  position: relative;
  display: block;
  min-width: 339px;
  min-height: 55px;
  margin: 50px auto 103px;
  border: 2px solid var(--accent-color);
  padding: 0;
  background-color: var(--background-color);
}

.save__button-image {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

.save__button-label {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
}

.dialog {
  border: 2px solid var(--accent-color);
  color: inherit;
  background-color: inherit;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-form {
  margin: 30px;
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-image {
  width: 39px;
  height: 39px;
}

.dialog-text {
  display: block;
  max-width: 234px;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog-button {
  position: relative;
  display: block;
  width: 100%;
  min-height: 38px;
  margin-top: 30px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%; /* 12.6px */
  text-transform: uppercase;
  background-color: transparent;
}

.decorated-button {
  transition: box-shadow 0.3s ease;
}

.decorated-button::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-button-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  mix-blend-mode: difference;
}

.decorated-button:hover::after {
  transform: scaleX(1);
}

.decorated-button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

/* image filters */
.grayscale {
  filter: grayscale(80%);
}

.saturate {
  filter: saturate(3);
}

.sepia {
  filter: sepia(60%);
}

.blur {
  filter: blur(10px);
}

.brightness {
  filter: brightness(0.9);
}

.contrast {
  filter: contrast(3.5);
}

.hueR {
  filter: hue-rotate(20deg);
}

.invert {
  filter: invert(1);
}

.hue-brightness-opacity {
  filter: hue-rotate(100deg) brightness(2) opacity(0.8);
}

@media (width <=375px) {
  .header-logo {
    margin-block-start: 120px;
  }

  .card__image-wrapper {
    max-height: 371px;
  }

  .save__button {
    min-width: 310px;
    min-height: 84px;
    margin: 50px auto 100px;
  }

  .save__button-image {
    display: block;
    width: 28px;
    height: 28px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .dialog-text {
    max-width: 198px;
  }

  .card__logo {
    inset: 25px 11px auto auto;
  }
}
